part3/index.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT data (visits,ips)>
<!ELEMENT visits (windows,linux,macos,iphone,android,most-frequent)>
<!ELEMENT windows (#PCDATA)>
<!ELEMENT linux (#PCDATA)>
<!ELEMENT macos (#PCDATA)>
<!ELEMENT iphone (#PCDATA)>
<!ELEMENT android (#PCDATA)>
<!ELEMENT most-frequent (ip)>
<!ELEMENT ip EMPTY>
<!ATTLIST ip addr CDATA #REQUIRED
			 frequency CDATA #REQUIRED>
<!ELEMENT ips (ip+)>